@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.PersonTypo {
    font-size: 2rem;
    font-family: 'Dongle', sans-serif;
  }
 .PersonTypo:hover {
    background: #3a0a18 !important;
  }

.roundedImage{
  width: 50px;
  border-radius: 50%;
}

.drawName{
  color: white;
  font-size: 2rem;
  font-family: 'Dongle', sans-serif;
}
  ::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #C03228;        /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(65, 65, 65);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(65, 65, 65);  /* creates padding around scroll thumb */
  }

  